{%extends 'layouts1.html'%} 

{%block content%}
<br/><br/>
<div class="container">
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
  <div class="carousel-item active" data-bs-interval="100000">
      <img src="{{url_for('static', filename='figure1.jpeg')}}" class="d-block w-100" alt="..." width=500 height=500>
  </div>
  {% for i in num %}
    <div class="carousel-item" data-bs-interval="3000">
    	<p><h1>Chapter {{i}}</h1></p>
      <img src="{{url_for('static', filename=i1+'/img'+i+'.png')}}" class="d-block w-100" alt="..." width=500 height=500>
      <br/><br/>
      The central characters of the chapter<br><br>
      <table>
      {% for j in ranks[i]%}
      <tr>
        <td>{{j}} : </td>
        <td>{{ranks[i][j]}}</td>
      </tr>
      {% endfor %}
      </table>
    </div>
  {%endfor%}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br><br>
{%endblock content%}
