{%extends 'layouts1.html'%}

{%block content%}  
<!--img src = "../static/watson_fig.png" /-->
<img src="{{url_for('static',filename=image1)}}" width=400 height=400>
<img src="{{url_for('static',filename=image2)}}" width=400 height=400>
<img src="{{url_for('static',filename=image3)}}" width=400 height=400>
<img src="{{url_for('static',filename=image4)}}" width=400 height=400>
<img src="{{url_for('static',filename=image5)}}" width=400 height=400>
<img src="{{url_for('static',filename=image6)}}" width=400 height=400>
<!--img src = "../{{image}}"-->
<br/>
<br/>
<h6>Some of the adjectives that describe this character are:</h6>
<ul>
    {%for i in adj%}
    <li>{{i[0]}}</li>
    {%endfor%}
</ul>
{%endblock content%}
